# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
*.Rproj.user/

# R Environment Variables
.Renviron

# RStudio files
*.Rproj

# built package artifacts
*.tar.gz
*.Rcheck/

# OS files
.DS_Store
Thumbs.db
